@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$colors:(
    bg-body: #F8F9FA,
    bg-hero: #F8F9FA,
    bg-font: #212529,
    btn-font: #F8F9FA,
    bg-nav: #212529,
    nav-font: #FFFFFF,
    bg-whfont: #FFFFFF,
    bg-projects: #EC615B,
    hg-font: #EC615B,
    bg-button: #5222D0 ,
    proj-title: #5222D0
);

$font: 'Poppins', sans-serif;

@function color($color-name){
    @return map-get($colors, $color-name)
}

body{
    font-family: $font;
    background: color(bg-body);
}


//logo content
.logo{
    margin: 1em;
    font-weight: bold;
    font-size: 16px;
    display: block;
    
    .santander{
        color: color(hg-font);
    }
    a{
        color: color(bg-font);
        text-decoration: none;
    }
}

//navigation
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .selection{
      height: 100vh;
      position: fixed;
      padding-top: 8em;
      line-height: 4em;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      align-items: center;
      background: color(bg-nav);
      transition: top 1s ease 0s;
      display: none;
      list-style: none;
      font-size: 18px;
      font-weight: bold;
   a{
       color: color(nav-font);
       text-decoration: none;
   }

   a:hover{
       color: color(hg-font);
   }

   .social{
    cursor: pointer;
    color: white;
    }
}

    .openMenu{
        margin: 1em;
        font-size: 2rem;
        cursor: pointer; 
    }
    .selection .closeMenu{
        display: block;
        position: absolute;
        top: 16px;
        right: 32px;
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
    nav .openMenu {
        display: block;
    }

  //hero container
  .hero-container{
      margin-top: 4em;

      .sub-content{
         letter-spacing: 1px;
          text-align: center;
          font-size: 11px;
          font-weight: bold;
          color: #696969;
      }

      h1{
          letter-spacing: 1px;
          padding: .2em .7em;
          font-size: 32px;
          text-align: center;
          color: color(bg-font);    
      }

     .sub-text{
          margin: .5em 2em;
          font-size: 12;
          text-align: center;   
          color: color(bg-font);    
      }

      .btn-work{
        display: flex;
        padding: 0 6em;
        .view-work{
        font-weight: bold;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;
        margin: 3em auto;
        text-decoration: none;
        border: #5222D0 2px solid;
        color: #5222D0;
        border-radius: .5em;
        padding: .8em;
      }
      margin-bottom: 7em;
      }
  }

  .devImage img{
    //   padding: 2em 1em;
    display: none;
    //   display: flex;
    //   width: 100%;
  }

    .project-container{
        margin-top: 1em;
        background: color(bg-projects);
        width: 100%;
        padding: 0 1em;

        .my-projects{
            padding-top: 2em;
            color: color(bg-whfont);
            font-size: 20px;
            font-weight: bold;
            line-height: 3em;
        }

        .check-mywork{
            padding-top:.5em;
            color: color(bg-whfont);
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 4em;
        }

        // Web application build
        .web-container{
            margin: 0 1em;
            border: #121212 solid .3em;
            background: color(bg-body);
            margin-bottom: 2em;
        }

        .web-icon{
            color: #121212;
            font-size: 4em;
            padding-top: .4em;
            margin: auto;
            display: flex;
            justify-content: center;
        }


        .web-title{
            margin-top: 1em;
            text-align: center;
            color: #5222D0;
            font-size: 14px;
            font-weight: bold;
        }

        .web-description{
            color: #212529;
            margin: 0 2em;
            margin-bottom: 2em;
            padding-top: 2em;
            text-align: center;
            font-size: 14px;
        }
        a{
            text-decoration: none;
        }

        // Front-end website 
        .front-container{
            margin: 0 1em;
            border: #121212 solid .3em;
            background: color(bg-body);
            margin-bottom: 2em;
        }

        .front-icon{
            color: #121212;
            font-size: 4em;
            padding-top: .4em;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .front-title{
            margin-top: 1em;
            text-align: center;
            color: #5222D0;
            font-size: 14px;
            font-weight: bold;
        }

        .front-description{
            color: #212529;
            margin: 0 2em;
            margin-bottom: 2em;
            padding-top: 2em;
            text-align: center;
            font-size: 14px;
        }

        // UI UX website 
        .uiux-container{
            margin: 0 1em;
            border: #121212 solid .3em;
            background: color(bg-body);
            margin-bottom: 2em;
        }

        .uiux-icon{
            color: #121212;
            font-size: 4em;
            padding-top: .4em;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .uiux-title{
            margin-top: 1em;
            text-align: center;
            color: #5222D0;
            font-size: 14px;
            font-weight: bold;
        }

        .uiux-description{
            color: #212529;
            margin: 0 2em;
            margin-bottom: 2em;
            padding-top: 2em;
            text-align: center;
            font-size: 14px;
            margin-bottom: 2em;
        }

        padding-bottom: 4em;
    }


    //latest work
    .latest-container{
        padding: 4em 1em;
        color: #212529;

        a{
            text-decoration: none;
        }

        .latest-container{
            font-size: 20px;
            font-weight: bold;
            color: #212529;
        }

        .new-project{
            padding-top: 1em;
            font-size: 14px;
            color: #212529;
        }

        .thumbnail{
            margin: 0 1em;
            padding-top: 6em;
            text-align: center;
            .sub-title{
                color: #EC615B;
                font-size: 14px;
                font-weight: bold;
            }
            .thumbnail-title h3{
                font-weight: bold;
                font-size: 20px;
                color: #212529;
            }

            .thumnail-description p{
                margin: 1em 1em;
                font-size: 14px;
                color: #212529;
                margin-bottom: 2em;
            }
            padding-bottom: 1em;
        }

        .thumnail-img img{
            width: 100%;
            margin-bottom: 2em;
        }
    }

        //about me section

        //profile
        .profile img{
            width: 150px;
            border: #FFFFFF 3px solid;
            height: 150px;
            border-radius: 50%;
            margin: 3em auto;
            justify-content: center;
            display: flex;
        }

        .about{
            padding: 1em 1em;
            color: #FFFFFF;
            background: #212529;
        }

        .about-head{
        display: flex;

        h1{
            color: #FFFFFF;
            display: flex;
            font-size: 20px;
            font-weight: bold;
        }
        .iconify{
            margin-left: 1em;
            justify-content: space-between;
            font-size: 1.4em;
        }
        }

        span .line{
            width: 50%;
        }

        //about description
        .about-description{
            font-size: 14px;
            line-height: 1.8em;
            .hello{
                padding-top: 1.7em;
            }

            .my{
                padding-top: 1.7em;
            }
        }

        //about social
        .about-social{
            padding-top: 2em;

            .iconify{
                margin: 10px;
                justify-content: space-between;
                font-size: 1.7em;
            }
        }

        //contact section
  .contact-container{
    margin-top: 2em;
    padding: 0 1em;
    color: #212529;

    .contact-title h1{
        padding-top: 2em;
        font-size: 20px;
        font-weight: bold;
    }

    p{
        font-size: 14px;
    }

    form{
        padding-top: 4em;
        
        label{
            font-size: 17px;
            font-weight: bold;
        }
        input{
            margin-bottom: 1.7em;
            border: #E8E8E8 solid;
            background: #E8E8E8;
            padding: .4em;
            width: 100%;
            border-radius: .4em;
        }
        textarea{
            border: #E8E8E8 solid;
            background: #E8E8E8;
            width: 100%;
        }
    }

    .btn-container{
        padding-top: 2em;

    }

    .btnSend{
        text-align: center;
        padding: .7em 1em;
        background: #5222D0;
        color: #E8E8E8;
        font-weight: bold;
    }

    .social-contact{
       padding-top: 3em;
        .messenger{
            padding-bottom: 1em;
        }
        .gmail{
            padding-bottom: 1em;
        }
        .phone{
            padding-bottom: 7em;
        }
    }
    
  }

    //for tablet view

    @media screen and (min-width: 768px){
        .hero-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "hero-container devImage";
            
        }

        //hero container content
            .hero-container{
               
                .sub-content{
                    margin: 0;
                    display: inline-flex;
                    padding: 0 1.9em;
                    grid-area: hero-container;
                    letter-spacing: 1px;
                    font-size: 14px;
                    text-align: left;
                }
              
                .lets{
                    display: inline-flex;
                    margin: 0;
                    padding: 0 .7em;
                    padding-top: .7em;
                    grid-area: hero-container;
                    font-size: 36px;
                    font-weight: bold;
                    text-align: left;
                }
    
                .sub-text{
                    margin: 0;
                    padding: 0 2em;
                    padding-top: 9em;
                    grid-area: hero-container;
                    font-size: 14px;
                    text-align: left;
                    font-weight: 500;
                    line-height: 1.5em;
                }

                .btn-work{
                    display: block;
                    padding-top: 14em;
                    padding-left: 2em;
                   justify-self: left;
                   grid-area: hero-container;
                }

                .devImage{
                    grid-area: devImage;
                    width: 100%;
                }
            }

        //my projects content
            .my-projects{
                padding: 0 1em;
                justify-content: left;
            }

            .check-mywork{
                padding: 0 1.6em;
                justify-content: left;
            }


            .project-box{
                box-sizing: border-box;
                display: flex;
                justify-content: center;
            }
                
            .web-container{
                margin: 0 1em;
                width: 220px;
                h2{
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .front-container{
                margin: 0 1em;
                width: 220px;
                h2{
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .uiux-container{
                margin: 0 1em;
                width: 220px;
                h2{
                    font-size: 16px;
                    font-weight: bold;
                }
            }


        //Latest work content

        .latest-works{
                padding: 0 1em;

        }

        .new-project{
            padding: 0 1.8em;
            justify-content: left;
            text-align: left;
            width: 60%;
            padding-bottom: 2em;
        }

        .thumbnail-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .thumbnail{
            margin: 0 1em;
            width: 320px;
            a{
                text-decoration: none;
            }
        }

        .sub-title h4{
            padding: 0 1.5em;
            display: flex;
            font-size: 14px;
            font-weight: bold;
        }
        .thumbnail-title h3{
            padding: 0 1em;
            display: flex;
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }

        .thumnail-description{
            padding: 0 .5em;
            display: flex;
            text-align: left;
            font-size: 14px;
        }

        .thumnail-img img{
            height: 20vh;
            margin: 1em auto;
        }

        
        //about me section
        .about{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "img about";
            padding: 1em 1em;
            color: #FFFFFF;
            background: #212529;
        }
        .profile img{
            width: 60%;
            border: #FFFFFF 3px solid;
            height:  60%;
            border-radius:unset;
            justify-content: center;
            display: flex;
            grid-area: img;
        }
        .about-head{
            padding-top: 4em;
            display: flex;

        h1{
            color: #FFFFFF;
            display: flex;
            font-size: 24px;
            font-weight: bold;
            grid-area: about;
        }
        .iconify{
            margin-left: 1em;
            justify-content: space-between;
            font-size: 1.4em;
        }
        }

        //about description
        .about-description{
            font-size: 14px;
            line-height: 1.8em;
            grid-area: about;
            .hello{
                padding-top: 1.7em;
            }

            .my{
                padding-top: 1.7em;
            }
        }

        //about social
        .about-social{
            padding-top: 2em;

            .iconify{
                margin: 10px;
                justify-content: space-between;
                font-size: 1.7em;
            }
        }

    //contact section
  .contact-container{
    margin-top: 4em;
    padding: 0 2em;
    color: #212529;
    display: grid;
    grid-template-areas: "form social";

    .contact-title{

        grid-area: form;
    }
    .contact-title h1{
        padding: 0 1em;
        font-size: 24px;
        font-weight: bold;
    }

    p{
        padding: 0 1.9em;
        margin-top: 1em;
        font-size: 14px;
        grid-area: form;
    }

    form{
        padding: 0 1em;
        margin-top: 5em;
        grid-area: form;
        padding-top: 4em;
        display: flex;
        flex-direction: column;
        
        label{
            font-size: 17px;
            font-weight: bold;
        }
        input{
            margin-bottom: 1.7em;
            border: #E8E8E8 solid;
            background: #E8E8E8;
            padding: .4em;
            width: 100%;
            border-radius: .4em;
        }
        textarea{
            border: #E8E8E8 solid;
            background: #E8E8E8;
            width: 100%;
        }
    }

    .btn-container{
        grid-area: form;
        padding-top: 2em;
        margin-bottom: 5em;
    }

    .btnSend{
        text-align: center;
        padding: .7em 1em;
        background: #5222D0;
        color: #E8E8E8;
        font-weight: bold;
    }

    .social-contact{
       padding-top: 10em;
       margin-left: 5em;
        .messenger{
            padding-bottom: 1em;
        }
        .gmail{
            padding-bottom: 1em;
        }
        .phone{
            padding-bottom: 7em;
             }
          }
        }
      }


        // laptop view
        @media screen and (min-width: 920px){

            .navigation-container{
                padding: 0 4.8em;
            }

            .openMenu i{
                display: none;
            }

            .closeMenu i{
                display: none;
            }

            nav .selection{
                display: contents;
                a{
                    
                    font-weight: 500;
                    font-size: 14px;
                    color: #212529;
                }
            }

            .social i{
                display: none;
            }

            .hero-container{
                padding: 0 4em;
            }
            
            .project-container{
                padding: 0 4.8em;
                height:360px;
                position: relative;
            }


            .latest-container{
                margin-top: 240px;
                padding: 0 4.8em;
                margin-bottom: 5em;
            }

            .thumbnail-container{
                display: flex;
                flex-direction: column;
            }

           .thumbnail a{
               display: flex;
               flex-direction: row;
            }

            .thumbnail{
                width: 100%;
                .thumnail-img img{
                    width: 150%;
                    border-radius: 1em;
                }

                .sub-title h4{
                    margin-top: 3em;
                    margin-left: 9em;
                }
    
                .thumbnail-title h3{
                    margin-top: .2em;
                    margin-left: 6.4em;
                }

                .thumnail-img img{
                    cursor:default;
                    pointer-events: none;
                }
            
                a{                
                    background: #f2f2f2;
                }

                .thumbnail{

                    background-size: cover;
                    width: 200%;
                }
                 
                    .thumnail-img{
                        margin-top: 1.5em;
                        margin-left: 1em;
                        width: 60%;
                    }
                    .thumnail-description{
                        margin-top: 1em;
                        margin-left: 9em;
                        }
                    }   
                    
                //about me section
                .about{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "img about";
                    padding: 1em 1em;
                    color: #FFFFFF;
                    background: #212529;
                }
                .profile img{
                    width: 50%;
                    border: #FFFFFF 3px solid;
                    height:  65%;
                    border-radius:unset;
                    justify-content: center;
                    display: flex;
                    grid-area: img;
                }
                .about-head{
                    padding-top: 4em;
                    display: flex;

                h1{
                    color: #FFFFFF;
                    display: flex;
                    font-size: 24px;
                    font-weight: bold;
                    grid-area: about;
                }
                .iconify{
                    margin-left: 1em;
                    justify-content: space-between;
                    font-size: 1.4em;
                }
                }

                //about description
                .about-description{
                    font-size: 14px;
                    line-height: 1.8em;
                    grid-area: about;
                    .hello{
                        padding-top: 1.7em;
                    }

                    .my{
                        padding-top: 1.7em;
                    }
                }

                //about social
                .about-social{
                    padding-top: 2em;

                    .iconify{
                        margin: 10px;
                        justify-content: space-between;
                        font-size: 1.7em;
                    }
                }

        //contact section
        .contact-container{
            margin-top: 4em;
            padding: 0 2em;
            color: #212529;
            display: grid;
            grid-template-areas: "form social";

            .contact-title{

                grid-area: form;
            }
            .contact-title h1{
                padding: 0 1em;
                font-size: 24px;
                font-weight: bold;
            }

            p{
                padding: 0 1.9em;
                margin-top: 1em;
                font-size: 14px;
                grid-area: form;
            }

            form{
                padding: 0 1em;
                margin-top: 5em;
                grid-area: form;
                padding-top: 4em;
                display: flex;
                flex-direction: column;
                
                label{
                    font-size: 17px;
                    font-weight: bold;
                }
                input{
                    margin-bottom: 1.7em;
                    border: #E8E8E8 solid;
                    background: #E8E8E8;
                    padding: .4em;
                    width: 100%;
                    border-radius: .4em;
                }
                textarea{
                    border: #E8E8E8 solid;
                    background: #E8E8E8;
                    width: 100%;
                }
            }

            .btn-container{
                grid-area: form;
                padding-top: 2em;
                margin-bottom: 5em;
            }

            .btnSend{
                text-align: center;
                padding: .7em 1em;
                background: #5222D0;
                color: #E8E8E8;
                font-weight: bold;
            }

            .social-contact{
            padding-top: 10em;
            margin-left: 5em;
                .messenger{
                    padding-bottom: 1em;
                }
                .gmail{
                    padding-bottom: 1em;
                }
                .phone{
                    padding-bottom: 7em;
                    }
                }
             }       
     }

     //extend laptop view

     @media screen and (min-width: 1200px){

        //navigation container
         .navigation-container{
          padding: 1em 6em;
             .logo{
                 font-size: 20px;
                }
         }

         nav .selection a{
             font-size: 20px;
            
         }

         //hero container
         .hero-container{
             padding: 1em 6em;

             .sub-content{
                font-size: 18px;
             }
             .lets{
                font-size: 46px;
             }
             .sub-text{
                 margin-top: 5em;
                font-size: 18px;
             }

             .btn-work{
                margin-top: 5em;
                font-size: 18px;
             }

             .devImage img{
                width: 100%;
             }
         }



     }




            

