@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F8F9FA;
}

.navigation-container {
  padding: 0 1em;
}

.logo {
  margin: 1em 1em;
  font-weight: bold;
  font-size: 15px;
  display: block;
}

.logo .santander {
  color: #EC615B;
}

.logo a {
  color: #212529;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .selection {
  height: 100vh;
  position: fixed;
  padding-top: 8em;
  line-height: 4em;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212529;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
  display: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

nav .selection a {
  color: #FFFFFF;
  text-decoration: none;
}

nav .selection a:hover {
  color: #EC615B;
}

nav .selection .social {
  cursor: pointer;
  color: white;
}

.openMenu {
  margin: 1em 1em;
  font-size: 2rem;
  cursor: pointer;
}

.selection .closeMenu {
  display: block;
  position: absolute;
  top: 16px;
  right: 32px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

nav .openMenu {
  display: block;
}

.hero-container {
  padding: 4em 1em;
}

.hero-container .sub-content {
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #696969;
}

.hero-container h1 {
  letter-spacing: 1px;
  padding-top: .2em;
  font-size: 32px;
  text-align: center;
  color: #212529;
}

.hero-container .sub-text {
  padding: .5em 2em;
  font-size: 13px;
  text-align: center;
  color: #212529;
}

.hero-container .btn-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4em;
}

.hero-container .btn-work .view-work {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em auto;
  text-decoration: none;
  border: #5222D0 2px solid;
  color: #5222D0;
  border-radius: .5em;
  padding: .8em;
}

.hero-container .btn-work .arrow {
  padding: 0 .3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.devImage img {
  display: none;
}

.project-container {
  background: #EC615B;
  width: 100%;
  padding: 1em 2em;
}

.project-container .my-projects {
  padding-top: 2em;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 3em;
}

.project-container .check-mywork {
  padding-top: .5em;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4em;
}

.project-container .project-box {
  padding-top: 2em;
}

.project-container .web-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .web-container .web-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .web-container .web-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .web-container .web-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container a {
  text-decoration: none;
}

.project-container .front-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .front-container .front-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .front-container .front-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .front-container .front-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container .uiux-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .uiux-container .uiux-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .uiux-container .uiux-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .uiux-container .uiux-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.latest-container {
  padding: 4em 2em;
  color: #212529;
}

.latest-container a {
  text-decoration: none;
}

.latest-container .latest-container {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.latest-container .new-project {
  padding-top: 1em;
  font-size: 14px;
  color: #212529;
}

.latest-container .thumbnail-container {
  margin-bottom: 4em;
}

.latest-container .thumbnail {
  padding-top: 6em;
  text-align: center;
}

.latest-container .thumbnail .sub-title {
  color: #EC615B;
  font-size: 14px;
  font-weight: bold;
}

.latest-container .thumbnail .thumbnail-title h3 {
  font-weight: bold;
  font-size: 20px;
  color: #212529;
}

.latest-container .thumnail-img img {
  width: 100%;
  margin-bottom: 2em;
}

.profile img {
  width: 150px;
  border: #FFFFFF 3px solid;
  height: 150px;
  border-radius: 50%;
  margin: 3em auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  padding: 1em 2em;
  color: #eeeeee;
  background: #212529;
}

.about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-head h1 {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.about-head .iconify {
  margin-left: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4em;
}

.line {
  margin-left: .5em;
  margin-top: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f24e;
  height: 1px;
  width: 60%;
  grid-area: about;
}

.about-description {
  font-size: 14px;
  line-height: 1.8em;
}

.about-description .hello {
  padding-top: 1.7em;
}

.about-description .my {
  padding-top: 1.7em;
}

.about-description .Francis {
  font-weight: bold;
  color: #f2f2f2;
}

.about-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-social .iconify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  cursor: pointer;
  font-size: 2.5em;
}

.contact-container {
  padding: 1em 2em;
  color: #212529;
}

.contact-container .contact-title h1 {
  padding-top: 2em;
  font-size: 20px;
  font-weight: bold;
}

.contact-container p {
  padding-top: .4em;
  font-size: 14px;
}

.contact-container form {
  padding-top: 4em;
}

.contact-container form label {
  font-size: 17px;
  font-weight: bold;
}

.contact-container form input {
  margin-bottom: 1.7em;
  border: #E8E8E8 solid;
  background: #E8E8E8;
  padding: .4em;
  width: 100%;
  border-radius: .4em;
}

.contact-container form textarea {
  border: #E8E8E8 solid;
  background: #E8E8E8;
  width: 100%;
}

.contact-container .btn-container {
  padding-top: 2em;
}

.contact-container .btnSend {
  text-align: center;
  padding: .7em 1.5em;
  background: #5222D0;
  color: #E8E8E8;
  font-weight: bold;
}

.contact-container button.btnSend {
  border-radius: .4em;
}

.contact-container .social-contact {
  padding-top: 4em;
  font-size: 14px;
}

.contact-container .social-contact .messenger {
  padding-bottom: 1em;
}

.contact-container .social-contact .gmail {
  padding-bottom: 1em;
}

.contact-container .social-contact .phone {
  padding-bottom: 7em;
}

@media screen and (min-width: 654px) {
  div.navigation-container nav {
    padding: 0 1em;
  }
  .hero-container {
    padding: 5em 1em;
  }
  .hero-container p.sub-content {
    font-size: 14px;
  }
  .hero-container h1.lets {
    font-size: 35px;
  }
  .hero-container p.sub-text {
    margin: 0 2em;
    font-size: 14px;
  }
  div.project-container {
    padding: 0 3em;
  }
  div.project-container div.project-box {
    padding: 0 5em;
    padding-bottom: 4em;
  }
  div.latest-container {
    padding: 4em 3em;
  }
  div.about {
    padding: 2em 3em;
  }
  div.about div.about-head span.line {
    width: 80%;
  }
  div.contact-container {
    padding: 3em 3em;
  }
  div.social-contact {
    font-size: 30px;
  }
  div.social-contact i {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  div.navigation-container div.logo {
    font-size: 20px;
  }
  .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hero-container devImage";
  }
  div.hero-container {
    padding: 4em 2em;
  }
  div.hero-container p.sub-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 1.5em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: left;
  }
  div.hero-container h1.lets {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1em .6em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    font-size: 33px;
    font-weight: bold;
    text-align: left;
  }
  div.hero-container p.sub-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 12em 2em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
  }
  div.hero-container .btn-work {
    display: block;
    padding-top: 13em;
    padding-left: 1.5em;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
  }
  div.hero-container div.devImage img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: devImage;
    width: 100%;
    display: inline-block;
  }
  div.project-container {
    padding: 2em 2em;
  }
  .my-projects {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 24px;
  }
  .check-mywork {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .project-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-box h2 {
    font-size: 17px;
    font-weight: bold;
  }
  .project-box p {
    font-size: 12px;
  }
  div.web-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  div.web-container div.web-description {
    font-size: 12px;
  }
  div.web-container div.web-icon .iconify {
    font-size: 60px;
  }
  .front-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  .front-container div.front-description {
    font-size: 12px;
  }
  .front-container div.front-icon .iconify {
    font-size: 60px;
  }
  .uiux-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  .uiux-container div.uiux-description {
    font-size: 12px;
  }
  .uiux-container div.uiux-icon .iconify {
    font-size: 60px;
  }
  div.latest-container {
    padding: 7em 2em;
  }
  .latest-works {
    padding-top: 6em;
  }
  p.new-project {
    padding-bottom: 1em;
  }
  .thumbnail-container {
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .thumbnail a {
    text-decoration: none;
  }
  div.thumnail .thumbnail-title h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  div.thumnail .thumbnail-title h4 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: bold;
  }
  .thumnail-img img {
    height: 20vh;
    margin: 1em auto;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "about img";
    color: #f2f2f2;
    background: #212529;
  }
  .about .line {
    display: none;
  }
  .profile img {
    margin-top: 7em;
    border: #f2f2f2 3px solid;
    border-radius: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img;
  }
  .about-head {
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-head h1 {
    font-size: 24px;
    color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  .about-description {
    line-height: 1.8em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  .about-description .hello {
    padding-top: 1.7em;
  }
  .about-description .my {
    padding-top: 1.7em;
  }
  div.about-social {
    padding-top: 2em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  div.about-social .iconify {
    margin: 0 9px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.9em;
  }
  .contact-container {
    margin-top: 2em;
    padding: 0 1em;
    color: #212529;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "form social";
  }
  .contact-container .contact-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container .contact-title h1 {
    font-size: 24px;
    font-weight: bold;
  }
  .contact-container p {
    margin-top: 1em;
    font-size: 14px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container form {
    margin-top: 5em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
    padding-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container form label {
    font-size: 17px;
    font-weight: bold;
  }
  .contact-container form input {
    margin-bottom: 1.7em;
    border: #E8E8E8 solid;
    background: #E8E8E8;
    padding: .4em;
    width: 100%;
    border-radius: .4em;
  }
  .contact-container form textarea {
    border: #E8E8E8 solid;
    background: #E8E8E8;
    width: 100%;
  }
  .contact-container .btn-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
    padding-top: 2em;
    margin-bottom: 5em;
  }
  .contact-container .btnSend {
    text-align: center;
    padding: .7em 1em;
    background: #5222D0;
    color: #E8E8E8;
    font-weight: bold;
  }
  .contact-container .social-contact {
    padding-top: 10em;
    margin-left: 5em;
  }
  .contact-container .social-contact .messenger {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .gmail {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .phone {
    padding-bottom: 7em;
  }
}

@media screen and (min-width: 920px) {
  .navigation-container {
    padding: 0 4.8em;
  }
  .openMenu i {
    display: none;
  }
  .closeMenu i {
    display: none;
  }
  nav .selection {
    display: contents;
  }
  nav .selection a {
    font-weight: 500;
    font-size: 14px;
    color: #212529;
  }
  .social i {
    display: none;
  }
  .hero-container {
    padding: 0 4em;
  }
  .project-container {
    padding: 0 4.8em;
    height: 360px;
    position: relative;
  }
  .latest-container {
    margin-top: 240px;
    padding: 0 4.8em;
    margin-bottom: 5em;
  }
  .thumbnail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thumbnail a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .thumbnail {
    width: 100%;
  }
  .thumbnail .thumnail-img img {
    width: 150%;
    border-radius: 1em;
  }
  .thumbnail .sub-title h4 {
    margin-top: 3em;
    margin-left: 9em;
  }
  .thumbnail .thumbnail-title h3 {
    margin-top: .2em;
    margin-left: 6.4em;
  }
  .thumbnail .thumnail-img img {
    cursor: default;
    pointer-events: none;
  }
  .thumbnail a {
    background: #f2f2f2;
  }
  .thumbnail .thumbnail {
    background-size: cover;
    width: 200%;
  }
  .thumbnail .thumnail-img {
    margin-top: 1.5em;
    margin-left: 1em;
    width: 60%;
  }
  .thumbnail .thumnail-description {
    margin-top: 1em;
    margin-left: 9em;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img about";
    padding: 1em 1em;
    color: #FFFFFF;
    background: #212529;
  }
  .profile img {
    width: 50%;
    border: #FFFFFF 3px solid;
    height: 65%;
    border-radius: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .about-head {
    padding-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-head h1 {
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: about;
  }
  .about-head .iconify {
    margin-left: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.4em;
  }
  .about-description {
    font-size: 14px;
    line-height: 1.8em;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: about;
  }
  .about-description .hello {
    padding-top: 1.7em;
  }
  .about-description .my {
    padding-top: 1.7em;
  }
  .about-social {
    padding-top: 2em;
  }
  .about-social .iconify {
    margin: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.7em;
  }
  .contact-container {
    margin-top: 4em;
    padding: 0 2em;
    color: #212529;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "form social";
  }
  .contact-container .contact-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container .contact-title h1 {
    padding: 0 1em;
    font-size: 24px;
    font-weight: bold;
  }
  .contact-container p {
    padding: 0 1.9em;
    margin-top: 1em;
    font-size: 14px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container form {
    padding: 0 1em;
    margin-top: 5em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
    padding-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container form label {
    font-size: 17px;
    font-weight: bold;
  }
  .contact-container form input {
    margin-bottom: 1.7em;
    border: #E8E8E8 solid;
    background: #E8E8E8;
    padding: .4em;
    width: 100%;
    border-radius: .4em;
  }
  .contact-container form textarea {
    border: #E8E8E8 solid;
    background: #E8E8E8;
    width: 100%;
  }
  .contact-container .btn-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
    padding-top: 2em;
    margin-bottom: 5em;
  }
  .contact-container .btnSend {
    text-align: center;
    padding: .7em 1em;
    background: #5222D0;
    color: #E8E8E8;
    font-weight: bold;
  }
  .contact-container .social-contact {
    padding-top: 10em;
    margin-left: 5em;
  }
  .contact-container .social-contact .messenger {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .gmail {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .phone {
    padding-bottom: 7em;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-container {
    padding: 1em 6em;
  }
  .navigation-container .logo {
    font-size: 20px;
  }
  nav .selection a {
    font-size: 20px;
  }
  .hero-container {
    padding: 1em 6em;
  }
  .hero-container .sub-content {
    font-size: 18px;
  }
  .hero-container .lets {
    font-size: 46px;
  }
  .hero-container .sub-text {
    margin-top: 5em;
    font-size: 18px;
  }
  .hero-container .btn-work {
    margin-top: 5em;
    font-size: 18px;
  }
  .hero-container .devImage img {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */