* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #F8F9FA;
}

.logo {
  margin: 1em;
  font-weight: bold;
  font-size: 17px;
  display: block;
}

.logo .santander {
  color: #EC615B;
}

.logo a {
  color: #212529;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .selection {
  height: 100vh;
  position: fixed;
  padding-top: 8em;
  line-height: 4em;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212529;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
  display: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

nav .selection a {
  color: #FFFFFF;
  text-decoration: none;
}

nav .selection a:hover {
  color: #EC615B;
}

nav .selection .social {
  cursor: pointer;
  color: white;
}

.openMenu {
  margin: 1em;
  font-size: 2rem;
  cursor: pointer;
}

.selection .closeMenu {
  display: block;
  position: absolute;
  top: 16px;
  right: 32px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

nav .openMenu {
  display: block;
}

.hero-container {
  margin-top: 4em;
}

.hero-container .sub-content {
  letter-spacing: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #696969;
}

.hero-container h1 {
  margin: 0 1em;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #212529;
}

.hero-container .sub-text {
  margin: 2em 2em;
  font-size: 12;
  text-align: center;
  color: #212529;
}

.hero-container .view-work {
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  width: 7em;
  text-align: center;
  background: #5222D0;
  color: #F8F9FA;
  border-radius: .5em;
  padding: .8em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.devImage img {
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.project-container {
  margin-top: 1em;
  background: #EC615B;
  width: 100%;
  padding: 0 1em;
  padding-bottom: 4em;
}

.project-container .my-projects {
  padding-top: 2em;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 3em;
}

.project-container .check-mywork {
  color: #FFFFFF;
  font-size: 14px;
  padding-bottom: 4em;
}

.project-container .web-container {
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 2em;
}

.project-container .web-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .web-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 16px;
  font-weight: bold;
}

.project-container .web-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container a {
  text-decoration: none;
}

.project-container .front-container {
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 2em;
}

.project-container .front-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .front-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 16px;
  font-weight: bold;
}

.project-container .front-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container .uiux-container {
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 2em;
}

.project-container .uiux-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .uiux-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 16px;
  font-weight: bold;
}

.project-container .uiux-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
  margin-bottom: 2em;
}

.latest-container {
  padding: 2em 1em;
  color: #212529;
}

.latest-container a {
  text-decoration: none;
}

.latest-container .latest-container {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.latest-container .new-project {
  padding-top: 1em;
  font-size: 14px;
  color: #212529;
}

.latest-container .thumbnail {
  padding-top: 2em;
  text-align: center;
}

.latest-container .thumbnail .sub-title {
  color: #EC615B;
  font-size: 14px;
  font-weight: bold;
}

.latest-container .thumbnail .thumbnail-title h3 {
  font-weight: bold;
  font-size: 20px;
  color: #212529;
}

.latest-container .thumbnail .thumnail-description p {
  margin: 1em 1em;
  font-size: 14px;
  color: #212529;
  margin-bottom: 2em;
}

.latest-container .thumnail-img img {
  border-radius: 2em;
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "hero-container devImage";
  }
  .hero-container .sub-content {
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 1.9em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: left;
  }
  .hero-container .lets {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0 .7em;
    padding-top: .7em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
  }
  .hero-container .sub-text {
    margin: 0;
    padding: 0 2em;
    padding-top: 9em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 1.5em;
  }
  .hero-container .btn-work {
    display: block;
    padding-top: 14em;
    padding-left: 2em;
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hero-container;
  }
  .hero-container .devImage {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: devImage;
    width: 100%;
  }
  .my-projects {
    padding: 0 1em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .check-mywork {
    padding: 0 1.6em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .project-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .web-container {
    margin: 0 1em;
    width: 220px;
  }
  .web-container h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .front-container {
    margin: 0 1em;
    width: 220px;
  }
  .front-container h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .uiux-container {
    margin: 0 1em;
    width: 220px;
  }
  .uiux-container h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .latest-works {
    padding: 0 1em;
  }
  .new-project {
    padding: 0 1.8em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    width: 60%;
    padding-bottom: 2em;
  }
  .thumbnail-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .thumbnail {
    margin: 0 1em;
    width: 320px;
  }
  .thumbnail a {
    text-decoration: none;
  }
  .sub-title h4 {
    padding: 0 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: bold;
  }
  .thumbnail-title h3 {
    padding: 0 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
  .thumnail-description {
    padding: 0 .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    font-size: 14px;
  }
  .thumnail-img img {
    height: 20vh;
    margin: 1em auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 920px) {
  .navigation-container {
    padding: 0 4.8em;
  }
  .openMenu i {
    display: none;
  }
  .closeMenu i {
    display: none;
  }
  nav .selection {
    display: contents;
  }
  nav .selection a {
    font-weight: 500;
    font-size: 14px;
    color: #212529;
  }
  .social i {
    display: none;
  }
  .hero-container {
    padding: 0 4em;
  }
  .project-container {
    padding: 0 4.8em;
    height: 360px;
    position: relative;
  }
  .latest-container {
    margin-top: 220px;
    padding: 0 4.8em;
  }
}
/*# sourceMappingURL=index.css.map */