@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F8F9FA;
}

.navigation-container {
  padding: 0 1em;
}

.logo {
  margin: 1em 1em;
  font-weight: bold;
  font-size: 15px;
  display: block;
}

.logo .santander {
  color: #EC615B;
}

.logo a {
  color: #212529;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .selection {
  height: 100vh;
  position: fixed;
  padding-top: 8em;
  line-height: 4em;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212529;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
  display: none;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

nav .selection a {
  color: #FFFFFF;
  text-decoration: none;
}

nav .selection a:hover {
  color: #EC615B;
}

nav .selection .social {
  cursor: pointer;
  color: white;
}

.openMenu {
  margin: 1em 1em;
  font-size: 2rem;
  cursor: pointer;
}

.selection .closeMenu {
  display: block;
  position: absolute;
  top: 16px;
  right: 32px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

nav .openMenu {
  display: block;
}

section.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  justify-content: left;
  align-items: center;
}

section.hero-container div.left-content .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #696969;
}

section.hero-container div.left-content h1.lets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  text-align: center;
  font-size: 32px;
  color: #212529;
}

section.hero-container div.left-content .sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: .5em 2em;
  font-size: 13px;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212529;
}

section.hero-container div.left-content .btn-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4em;
}

section.hero-container div.left-content .btn-work .view-work {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em auto;
  text-decoration: none;
  border: #5222D0 2px solid;
  color: #5222D0;
  border-radius: .5em;
  padding: .8em;
}

section.hero-container div.left-content .btn-work .arrow {
  padding: 0 .3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.hero-container div.devImage img {
  display: none;
}

.project-container {
  background: #EC615B;
  width: 100%;
  padding: 1em 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .my-projects {
  padding-top: 2em;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 3em;
}

.project-container .check-mywork {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: .5em;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 4em;
}

.project-container .project-box {
  padding-top: 2em;
}

.project-container .web-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .web-container .web-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .web-container .web-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .web-container .web-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container a {
  text-decoration: none;
}

.project-container .front-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .front-container .front-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .front-container .front-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .front-container .front-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.project-container .uiux-container {
  margin: 0;
  border: #121212 solid .3em;
  background: #F8F9FA;
  margin-bottom: 3em;
}

.project-container .uiux-container .uiux-icon {
  color: #121212;
  font-size: 4em;
  padding-top: .4em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .uiux-container .uiux-title {
  margin-top: 1em;
  text-align: center;
  color: #5222D0;
  font-size: 14px;
  font-weight: bold;
}

.project-container .uiux-container .uiux-description {
  color: #212529;
  margin: 0 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 14px;
}

.latest-container {
  padding: 4em 2em;
  color: #212529;
}

.latest-container a {
  text-decoration: none;
}

.latest-container .latest-container {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.latest-container .new-project {
  padding-top: 1em;
  font-size: 14px;
  color: #212529;
}

.latest-container .thumbnail-container {
  margin-bottom: 4em;
}

.latest-container .thumbnail {
  padding-top: 6em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latest-container .thumbnail .sub-title {
  color: #EC615B;
  font-size: 14px;
  font-weight: bold;
}

.latest-container .thumbnail .thumbnail-title h3 {
  font-weight: bold;
  font-size: 20px;
  color: #212529;
}

.latest-container .thumnail-img img {
  width: 100%;
  margin-bottom: 2em;
}

.profile img {
  width: 150px;
  border: #FFFFFF 3px solid;
  height: 150px;
  border-radius: 50%;
  margin: 3em auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  padding: 1em 2em;
  color: #eeeeee;
  background: #212529;
}

.about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-head h1 {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.about-head .iconify {
  margin-left: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4em;
}

.line {
  margin-left: .5em;
  margin-top: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f24e;
  height: 1px;
  width: 60%;
  grid-area: about;
}

.about-description {
  font-size: 14px;
  line-height: 1.8em;
}

.about-description .hello {
  padding-top: 1.7em;
}

.about-description .my {
  padding-top: 1.7em;
}

.about-description .Francis {
  font-weight: bold;
  color: #f2f2f2;
}

.about-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-social .iconify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  cursor: pointer;
  font-size: 2.5em;
}

.contact-container {
  padding: 1em 2em;
  color: #212529;
}

.contact-container .contact-title h1 {
  font-size: 20px;
  font-weight: bold;
}

.contact-container p {
  padding-top: .4em;
  font-size: 14px;
}

.contact-container form {
  padding-top: 4em;
}

.contact-container form label {
  font-size: 17px;
  font-weight: bold;
}

.contact-container form input {
  margin-bottom: 1.7em;
  border: #E8E8E8 solid;
  background: #E8E8E8;
  padding: .4em;
  width: 100%;
  border-radius: .4em;
}

.contact-container form textarea {
  border: #E8E8E8 solid;
  background: #E8E8E8;
  width: 100%;
}

.contact-container .btn-container {
  padding-top: 2em;
}

.contact-container .btnSend {
  text-align: center;
  padding: .7em 1.5em;
  background: #5222D0;
  color: #E8E8E8;
  font-weight: bold;
}

.contact-container button.btnSend {
  border-radius: .4em;
}

.contact-container .social-contact {
  padding-top: 4em;
  font-size: 14px;
}

.contact-container .social-contact .messenger {
  padding-bottom: 1em;
}

.contact-container .social-contact .gmail {
  padding-bottom: 1em;
}

.contact-container .social-contact .phone {
  padding-bottom: 7em;
}

@media screen and (min-width: 654px) {
  div.navigation-container nav {
    padding: 0 1em;
  }
  .hero-container {
    padding: 5em 1em;
  }
  .hero-container p.sub-content {
    font-size: 14px;
  }
  .hero-container h1.lets {
    font-size: 35px;
  }
  .hero-container p.sub-text {
    margin: 0 2em;
    font-size: 14px;
  }
  div.project-container {
    padding: 0 3em;
  }
  div.project-container div.project-box {
    padding: 0 5em;
    padding-bottom: 4em;
  }
  div.latest-container {
    padding: 4em 3em;
  }
  div.about {
    padding: 2em 3em;
  }
  div.about div.about-head span.line {
    width: 80%;
  }
  div.contact-container {
    padding: 3em 3em;
  }
  div.social-contact {
    font-size: 30px;
  }
  div.social-contact i {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  div.navigation-container div.logo {
    font-size: 20px;
  }
  section.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
  }
  section.hero-container div.left-content {
    content: "";
    right: 0;
    display: inline-block;
  }
  section.hero-container div.left-content p.sub-content {
    margin-bottom: 1rem;
    text-align: left;
    display: block;
  }
  section.hero-container div.left-content h1.lets {
    margin-bottom: 1rem;
    padding: 0;
    text-align: left;
    display: block;
  }
  section.hero-container div.left-content p.sub-text {
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
  }
  section.hero-container div.left-content div.btn-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2em 0;
  }
  section.hero-container div.left-content div.btn-work a.view-work {
    margin: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: inline-block;
    font-size: 14px;
  }
  section.hero-container div.right-content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero-container div.devImage img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.project-container {
    padding: .1em 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-projects {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 24px;
  }
  .check-mywork {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .project-box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-box h2 {
    font-size: 17px;
    font-weight: bold;
  }
  .project-box p {
    font-size: 12px;
  }
  div.web-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  div.web-container div.web-description {
    font-size: 12px;
  }
  div.web-container div.web-icon .iconify {
    font-size: 60px;
  }
  .front-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  .front-container div.front-description {
    font-size: 12px;
  }
  .front-container div.front-icon .iconify {
    font-size: 60px;
  }
  .uiux-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 auto;
    width: 230px;
  }
  .uiux-container div.uiux-description {
    font-size: 12px;
  }
  .uiux-container div.uiux-icon .iconify {
    font-size: 60px;
  }
  div.latest-container {
    padding: 5em 2em;
  }
  .latest-works {
    padding-top: 6em;
  }
  p.new-project {
    padding-bottom: 1em;
  }
  .thumbnail-container {
    display: -ms-grid;
    display: grid;
    gap: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thumbnail a {
    text-decoration: none;
  }
  div.thumnail .thumbnail-title h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  div.thumnail .thumbnail-title h4 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: bold;
  }
  .thumnail-img img {
    height: 20vh;
    margin: 1em auto;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "about img";
    color: #f2f2f2;
    background: #212529;
  }
  .about .line {
    display: none;
  }
  .profile img {
    margin-top: 7em;
    border: #f2f2f2 3px solid;
    border-radius: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img;
  }
  .about-head {
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-head h1 {
    font-size: 24px;
    color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  .about-description {
    line-height: 1.8em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  .about-description .hello {
    padding-top: 1.7em;
  }
  .about-description .my {
    padding-top: 1.7em;
  }
  div.about-social {
    padding-top: 2em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  div.about-social .iconify {
    margin: 0 9px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.9em;
  }
  .contact-container {
    padding: 0 1em;
    color: #212529;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "form social";
  }
  .contact-container .contact-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container .contact-title h1 {
    font-size: 24px;
    font-weight: bold;
  }
  .contact-container p {
    margin-top: 1em;
    font-size: 14px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .contact-container form {
    margin-top: 5em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form;
    padding-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container form label {
    font-size: 17px;
    font-weight: bold;
  }
  .contact-container form input {
    margin-bottom: 1.7em;
    border: #E8E8E8 solid;
    background: #E8E8E8;
    padding: .4em;
    width: 100%;
    border-radius: .4em;
  }
  .contact-container form textarea {
    border: #E8E8E8 solid;
    background: #E8E8E8;
    width: 100%;
  }
  .contact-container .btn-container {
    padding-top: 2em;
    margin-bottom: 5em;
  }
  .contact-container .btnSend {
    text-align: center;
    padding: .7em 1em;
    background: #5222D0;
    color: #E8E8E8;
    font-weight: bold;
  }
  .contact-container .social-contact {
    padding-top: 10em;
    margin-left: 5em;
  }
  .contact-container .social-contact .messenger {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .gmail {
    padding-bottom: 1em;
  }
  .contact-container .social-contact .phone {
    padding-bottom: 7em;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-container {
    padding: 3em 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation-container div.logo a {
    font-size: 24px;
  }
  .navigation-container div.openMenu {
    display: none;
  }
  .navigation-container nav .selection {
    display: contents;
  }
  .navigation-container nav .selection a {
    font-weight: 500;
    font-size: 14px;
    color: #212529;
  }
  .navigation-container nav .selection a {
    font-size: 18px;
  }
  .navigation-container div.closeMenu {
    display: none;
  }
  .navigation-container span.social {
    display: none;
  }
  section.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero-container div.left-content p.sub-content {
    font-size: 20px;
  }
  section.hero-container div.left-content h1.lets {
    font-size: 48px;
  }
  section.hero-container div.left-content p.sub-text {
    font-size: 14px;
  }
  section.hero-container div.right-content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero-container div.devImage img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.project-container {
    padding: 0 4em;
    height: 500px;
  }
  div.project-container h2.my-projects {
    padding: 0 auto;
    font-size: 32px;
  }
  div.project-container p.check-mywork {
    padding: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
  }
  div.project-container div.project-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
  }
  div.project-container div.project-box div.web-container {
    width: 320px;
  }
  div.project-container div.project-box div.web-container div.web-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.web-container div.web-description p {
    font-size: 18px;
  }
  div.project-container div.project-box div.front-container {
    width: 320px;
  }
  div.project-container div.project-box div.front-container div.front-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.front-container div.front-description p {
    font-size: 18px;
  }
  div.project-container div.project-box div.uiux-container {
    width: 320px;
  }
  div.project-container div.project-box div.uiux-container div.uiux-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.uiux-container div.uiux-description p {
    font-size: 18px;
  }
  div.latest-container {
    padding: 8em 4em;
  }
  div.latest-container h2.latest-works {
    font-size: 32px;
  }
  div.latest-container p.new-project {
    font-size: 20px;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumnail-img img {
    width: 100%;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumbnail-title h3 {
    font-size: 26px;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumbnail-title div.sub-title h4 {
    font-size: 18px;
  }
  div.about {
    padding: 2em 4em;
  }
  div.about div.profile {
    padding-top: 5em;
  }
  div.about div.profile img {
    width: 50%;
    height: 52%;
  }
  div.about div.about-description div.about-head h1 {
    font-size: 32px;
  }
  div.about div.about-description p {
    padding-top: 4em;
    font-size: 20px;
    line-height: 2em;
  }
  div.contact-container {
    padding: 4em 4em;
  }
  div.contact-container div.contact-title h1 {
    font-size: 32px;
  }
  div.contact-container div.contact-title p {
    font-size: 20px;
  }
  div.contact-container form {
    padding-top: 4em;
  }
  div.contact-container form label {
    font-size: 20px;
    font-weight: bold;
  }
  div.contact-container form input {
    margin-bottom: 1.7em;
    border: #E8E8E8 solid;
    background: #E8E8E8;
    padding: 1em;
    width: 100%;
    border-radius: .4em;
  }
  div.contact-container form textarea {
    border: #E8E8E8 solid;
    background: #E8E8E8;
    width: 100%;
  }
  div.contact-container .btn-container {
    padding-top: 2em;
  }
  div.contact-container .btnSend {
    text-align: center;
    padding: 1.2em 3em;
    background: #5222D0;
    color: #E8E8E8;
    font-weight: bold;
  }
  div.contact-container button.btnSend {
    border-radius: .4em;
  }
  div.contact-container .social-contact {
    padding-top: 4em;
    font-size: 20px;
  }
  div.contact-container .social-contact .messenger {
    padding-bottom: 1em;
  }
  div.contact-container .social-contact .gmail {
    padding-bottom: 1em;
  }
  div.contact-container .social-contact .phone {
    padding-bottom: 7em;
  }
  div.contact-container .social-contact i {
    font-size: 24px;
  }
}

@media screen and (min-width: 1280px) {
  div.navigation-container {
    padding: 20px auto;
  }
  div.navigation-container div.logo {
    margin-right: auto;
  }
  div.navigation-container div.logo a {
    font-size: 20px;
  }
  div.navigation-container div.openMenu {
    display: none;
  }
  div.navigation-container div.closeMenu {
    display: none;
  }
  div.navigation-container span.social {
    display: none;
  }
  div.navigation-container nav ul.selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: contents;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.navigation-container nav ul.selection li a {
    font-size: 16px;
  }
  div.navigation-container nav ul.selection a {
    font-weight: 500;
    color: #212529;
  }
  div.navigation-container ul.selection li {
    display: inline-block;
    padding: 0px 20px;
  }
  div.navigation-container nav .selection a {
    font-size: 18px;
  }
  section.hero-container {
    max-width: 100%;
    margin-bottom: 4em;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
  }
  section.hero-container div.left-content p.sub-content {
    font-size: 20px;
    max-width: 80%;
  }
  section.hero-container div.left-content h1.lets {
    font-size: 60px;
    max-width: 50%;
  }
  section.hero-container div.left-content p.sub-text {
    width: 50%;
    font-size: 20px;
  }
  section.hero-container div.left-content div.btn-work {
    width: 100%;
  }
  section.hero-container div.left-content div.btn-work a.view-work {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: inline-block;
    font-size: 20px;
    max-width: 1200px;
  }
  section.hero-container div.right-content {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero-container div.devImage {
    display: none;
  }
  section.hero-container {
    position: relative;
    background: url("/img/weDeveloper.svg");
    background-position: right;
    background-repeat: no-repeat;
  }
  div.project-container {
    padding: 0 4em;
    height: 500px;
  }
  div.project-container h2.my-projects {
    padding: 0 auto;
    font-size: 32px;
  }
  div.project-container p.check-mywork {
    padding: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
  }
  div.project-container div.project-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3em;
  }
  div.project-container div.project-box div.web-container {
    width: 320px;
  }
  div.project-container div.project-box div.web-container div.web-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.web-container div.web-description p {
    font-size: 18px;
  }
  div.project-container div.project-box div.front-container {
    width: 320px;
  }
  div.project-container div.project-box div.front-container div.front-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.front-container div.front-description p {
    font-size: 18px;
  }
  div.project-container div.project-box div.uiux-container {
    width: 320px;
  }
  div.project-container div.project-box div.uiux-container div.uiux-title h2 {
    font-size: 22px;
  }
  div.project-container div.project-box div.uiux-container div.uiux-description p {
    font-size: 18px;
  }
  div.latest-container {
    padding: 8em 4em;
  }
  div.latest-container h2.latest-works {
    font-size: 32px;
  }
  div.latest-container p.new-project {
    font-size: 20px;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumnail-img img {
    width: 100%;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumbnail-title h3 {
    font-size: 26px;
  }
  div.latest-container div.thumbnail-container div.thumbnail div.thumbnail-title div.sub-title h4 {
    font-size: 18px;
  }
  div.about {
    padding: 2em 4em;
  }
  div.about div.profile {
    padding-top: 5em;
  }
  div.about div.profile img {
    width: 50%;
    height: 52%;
  }
  div.about div.about-description div.about-head h1 {
    font-size: 32px;
  }
  div.about div.about-description p {
    padding-top: 4em;
    font-size: 20px;
    line-height: 2em;
  }
  div.contact-container {
    padding: 4em 4em;
  }
  div.contact-container div.contact-title h1 {
    font-size: 32px;
  }
  div.contact-container div.contact-title p {
    font-size: 20px;
  }
  div.contact-container form {
    padding-top: 4em;
  }
  div.contact-container form label {
    font-size: 20px;
    font-weight: bold;
  }
  div.contact-container form input {
    margin-bottom: 1.7em;
    border: #E8E8E8 solid;
    background: #E8E8E8;
    padding: 1em;
    width: 100%;
    border-radius: .4em;
  }
  div.contact-container form textarea {
    border: #E8E8E8 solid;
    background: #E8E8E8;
    width: 100%;
  }
  div.contact-container .btn-container {
    padding-top: 2em;
  }
  div.contact-container .btnSend {
    text-align: center;
    padding: 1.2em 3em;
    background: #5222D0;
    color: #E8E8E8;
    font-weight: bold;
  }
  div.contact-container button.btnSend {
    border-radius: .4em;
  }
  div.contact-container .social-contact {
    padding-top: 4em;
    font-size: 20px;
  }
  div.contact-container .social-contact .messenger {
    padding-bottom: 1em;
  }
  div.contact-container .social-contact .gmail {
    padding-bottom: 1em;
  }
  div.contact-container .social-contact .phone {
    padding-bottom: 7em;
  }
  div.contact-container .social-contact i {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */